// 15 columns

@media (min-width: 1250px)

// 12 columns

@media all and (max-width: 1249px)

// 9 columns

@media (max-width: 999px)

    .widget
        display: none

    #map
        right: 320px

// 6 columns

@media (max-width: 769px)

// 4 columns

@media (max-width: 479px)

    .wr
        width: 100%

    #map
        display: none